
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
   
    <ion-select value='dep' interface='action-sheet' mode='ios'>
        <ion-select-option value="dep.doc.ubigeo" *ngFor="let dep of deps" >
          {{ dep.doc.departamento }}
        </ion-select-option>
    </ion-select>
    <ion-list inset>      
        <ion-item [href]="'/prov/' + dep.doc.ubigeo" detail="true" *ngFor="let dep of deps" >
          <h2>{{ dep.doc.departamento }}</h2>          
        </ion-item>        
    </ion-list>    
</ion-content>
